.side-col .content-header {
    border-bottom: 4px solid #dfdfdf;
    margin-bottom: 18px;
}

.mzeis-documentation-menu {
    list-style-position: inside;
    list-style-type: disc;
}

.mzeis-documentation-page-container ul {
    list-style-position: inside;
    list-style-type: disc;
    margin: 0.5em 0;
}

.mzeis-documentation-meta-info {
    margin-top: 18px;
}
