<?xml version="1.0"?>
<config>
    <modules>
        <Mzeis_Documentation>
            <version>1.1.0</version>
        </Mzeis_Documentation>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mzeis_documentation after="Mage_adminhtml">Mzeis_Documentation_Adminhtml</mzeis_documentation>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <mzeis_documentation>
                    <files>
                        <default>Mzeis_Documentation.csv</default>
                    </files>
                </mzeis_documentation>
            </modules>
        </translate>
        <layout>
            <updates>
                <mzeis_documentation>
                    <file>mzeis_documentation/mzeis_documentation.xml</file>
                </mzeis_documentation>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <admin>
            <mzeis_documentation>
                <homepage>Home</homepage>
            </mzeis_documentation>
        </admin>
    </default>
    <global>
        <blocks>
            <mzeis_documentation>
                <class>Mzeis_Documentation_Block</class>
            </mzeis_documentation>
        </blocks>
        <helpers>
            <mzeis_documentation>
                <class>Mzeis_Documentation_Helper</class>
            </mzeis_documentation>
        </helpers>
        <models>
            <mzeis_documentation>
                <class>Mzeis_Documentation_Model</class>
                <resourceModel>mzeis_documentation_resource</resourceModel>
            </mzeis_documentation>
            <mzeis_documentation_resource>
                <class>Mzeis_Documentation_Model_Resource</class>
                <entities>
                    <page>
                        <table>mzeis_documentation_page</table>
                    </page>
                </entities>
            </mzeis_documentation_resource>
        </models>
        <resources>
            <mzeis_documentation_setup>
                <setup>
                    <module>Mzeis_Documentation</module>
                </setup>
            </mzeis_documentation_setup>
        </resources>
    </global>
</config>
